<%= fields_for('invoice_products[]', invoice.invoice_products.build) do |product_form| %>
  <div class="form-group row my-2" data-controller="invoice-products">
    <div class="col-md-4">
      <%= product_form.label :product_name, class: 'form-label' %>
      <%= product_form.select :product_id, 
                              options_for_select(products_options), 
                              { prompt: 'Select product' }, 
                              class: 'form-control', 
                              data: { 'invoice-products-target': 'productItem', action: 'change->invoice-products#updatePrices' } %>
    </div>

    <div class="col-md-2">
      <%= product_form.label :unit, class: 'form-label' %>
      <%= product_form.number_field :unit, class: 'form-control', data: { action: 'change->invoice-products#updateProductItemPrice', 'invoice-products-target': 'unit' } %>
    </div>

    <div class="col-md-2">
      <%= product_form.label :price_per_unit, class: 'form-label' %>
      <%= product_form.text_field :price_per_unit, class: 'form-control', disabled: true, data: { 'invoice-products-target': 'pricePerUnit' } %>
    </div>

    <div class="col-md-4">
      <%= product_form.label :total, class: 'form-label' %>
      <%= product_form.text_field :total, class: 'form-control', disabled: true, data: { 'invoice-products-target': 'total', 'invoices-target': 'totalItem', action: 'change->invoices#updateTotal' } %>
    </div>
  </div>
<% end %>